<script id="helpPage" type="text/template">
<section class="helpContainer">
<section id="exportHelp" class="help">
<div class="msg">Export to XLS</div>
</section>

<section id="addHelp" class="help">
<div class="msg">Log a new defect</div>
</section>

<section id="filterHelp" class="help">
<div class="msg">Click on column header to filter results. Once a value is selected, filter icon appears indicating the filtered column</div>
</section>


<section id="themeHelp" class="help">
<div class="msg">Change themes</div>
</section>



<section id="devCrHelp" class="help">
<div class="msg">List of CRs and its developers</div>
</section>



<section id="signOutHelp" class="help">
<div class="msg">Sign out</div>
</section>


</section>
</script>
