<script id="loginPage" type="text/template">

		<div id='warped'>
                     <span class='w0'>D</span><span class='w1'>e</span><span class='w2'>f</span><span class='w3'>e</span><span class='w4 '>c</span><span class='w5'>t</span><span class='w6'> </span><span class='w7'>L</span><span class='w8 eyes'>o</span><span class='w9 eyes'>g</span><span class='w10 eyes'>g</span><span class='w11 '>e</span><span class='w12'>r</span><span class='w13'> </span><span class='w14'>v</span><span class='w15'> </span><span class='w16'>1</span><span class='w17'>.</span><span class='w18'>O</span>




              </div>

<section class="circle"></section>
<section id="login">
<!--<div class="kid"></div>-->
<div id="username">
<span class="input input--haruki">
	<input class="input__field input__field--haruki" maxlength="7" type="text"  autocomplete="off" name="username" id="input-1" />
	<label class="input__label input__label--haruki" for="input-1">
		<span class="input__label-content input__label-content--haruki">SOEID</span>
	</label>
</span>
</div>
<button id="loginButton"></button>
</section>

</script>
<!DOCTYPE html>
<html>
     